In [1]:
#'_' 만 변수로 사용 가능
_ = 2
print(_)

2

In [5]:
#garbage colllection 확인 하는 법
import gc
gc.collect()

0

In [6]:
str = 'He said "I\'m an Iron Man"'
print(str)

He said "I'm an Iron Man"

In [9]:
#줄바꿈
## case 1
print('abc\ndef')
## case 2
s = """ghi
jkl"""

print(s)

abc
def
ghi
jkl

In [11]:
print('good' + 'bye')
print(('a' + 'b') * 3)
print('a' * 3 + 'b' * 3)
print('ha' * 3)
print("cha-" * 2 + "Cha") 
## 우선은 문자열의 경우, 더하고 곱하는 것만 가능

goodbye
ababab
aaabbb
hahaha
cha-cha-Cha

In [20]:
exec('x = 2')
exec('y = 3')
eval('x + y')
exec('x + y')
z1 = eval('x + y')
z2 = exec('x + y')
exec('z3 = x + y') #z3에 x + y 한 것을 실행하라!!
print(x)
print(y)
print(z1)
print(z2) #아무 값이 없이 나온다. exec('x + y')이거는 돌려주는 값이 없어서 값이 나오지 않는다.
print(z3)

2
3
5
None
5

int

In [28]:
str1 = 'Python'
str1.upper()
str1
# str1을 upper하더라도 str1 자체가 변하는 것은 아니다.
str1.count('th')
'coDE'.capitalize()
'abc      '.rstrip() #오른쪽에 있는 빈칸을 없애줌
'    ab     '.strip() #문자열 내에 있는 빈칸을 없애줌

'abc'

In [29]:
str1 = 'Hello World'
str1.find('W')

6

In [32]:
age = 20
name = 'Swaroop'

print('''{0} was {1} years old when he wrote the book
A Byte of Python'''.format(name, age))
print('Why is {1} playing with that {0} python?'.format(age, name))

Swaroop was 20 years old when he wrote the book
A Byte of Python
Why is Swaroop playing with that 20 python?

In [34]:
print('{0:10.2f}'.format(1234.5678))
print('{0:10,.2f}'.format(1234.5678))
print('{0:10,.3f}'.format(1234.5678))
print('{0:10,.2%}'.format(1234.5678))
print('{0:10,.3%}'.format(1234.5678))
print('{0:10,}'.format(12345678))

   1234.57
  1,234.57
 1,234.568
123,456.78%
123,456.780%
12,345,678

In [35]:
#문장 앞에 r 사용시, 개행문자 같은거도 다 출력이 됨
print(r'How can you prevent \n from being printed')

How can you prevent \n from being printed

In [37]:
#정수면 정수가 나오고 소수면 소수가 나오게 하고 싶은경우
value = eval(input('Enter any numbers: '))

eval('10')
eval('12.45')
print(value)

10

In [38]:
fullName = input('Enter a full name: ')
n = fullName.rfind(' ')
print('Last name: ', fullName[n+1:])
print('First name(s): ', fullName[:n])

Last name:  Park
First name(s):  Suhyun

In [47]:
print('The area of {0} is {1:,} square miles'.format('Texas', 2688111120))
str1 = 'The population of {0} is {1:.2%} of \
the U.S. population.'
print(str1.format('Texas', 26448000. / 309000000))

The area of Texas is 2,688,111,120 square miles
The population of Texas is 8.56% of the U.S. population.